/*Image,like, comment modal properties*/
.modal-heading {
margin-bottom: 16px !important;
}

.min-height-comments-box {
min-height: 140px;
margin-bottom: 20px;
word-wrap: break-word;
}


/*Main restaurant details div display properties*/  
.resMainDiv{
height:auto;
width: auto;
display:flex;
flex-direction: row;
}

/*Res. image*/
.divImage{
  height:100% !important;
  width: 30% !important;
  }
  
  #imageDisplay{
  margin-top:2%;
  margin-bottom:2%;
  width:400px!important;
  height:300px !important;
  }

  .detailsPageimage{
  max-width: 100% !important;  
  max-height: 100% !important;  
  }

/*Res. name and ratings*/
.resDetails{
  font-family: Calibri (Body);
margin-right:10%;
width:auto;
height:auto;
display: flex;
flex-direction: column;
justify-content: center;
}
.resName{
  font-weight: 500;
  font-size: 40px;
}

.cusRating{
font-size: 22px;
color: black;

}

#LocalityCity{
  font-weight: 500;
font-size: 26px;
text-transform: uppercase;
}
.categories{
  font-weight: 500;
  font-size:20px;
}

/*Cost for two data*/
.cost4TwoDiv{
  font-family: Calibri (Body);
  display: flex;
  position: relative;
  width: 30% !important;
}
#bottom-left
{
left: 0;
bottom: 0;
position: absolute;
margin-bottom: 2%;
}