/*Main restaurant details div display properties*/  
.resMainDiv{
height:auto;
width: auto;
display:flex;
flex-wrap: wrap;
}

/*Res. image*/
.divImage{
  height:100% !important;
  width: 30% !important;
  }
  .mainDiv{
    width:100% !important;
    height: 100% !important;
  }
  
  #imageDisplay{
  margin-top:2%;
  margin-bottom:2%;
  width:400px!important;
  height:300px !important;
  }

  .detailsPageimage{
  max-width: 100% !important;  
  max-height: 100% !important;  
  }

/*Res. name and ratings*/
.resDetails{
  font-family: Calibri (Body);
margin-right:10%;
display: flex;
flex-direction: column;
justify-content: center;
}
.resName{
  font-weight: 500;
  font-size: 40px;
}

.cusRating{
font-size: 22px;
color: black;

}

#LocalityCity{
  font-weight: 500;
font-size: 26px;
text-transform: uppercase;
}
.categories{
  font-weight: 500;
  font-size:20px;
}

/*Cost for two data*/
.cost4TwoDiv{
  font-family: Calibri (Body);
  display: flex;
  width: 30% !important;
  position: relative;
}
#bottom-left
{
left: 0;
bottom: 0;
position:absolute;
margin-bottom: 2%;
}

.orderFunction{
display: flex;
}

.orderMenu{
  margin-top:2%;
  display: block;
  width:40%;
  margin-left:2%;
  position: relative;
}
.categoriesCart{
  color:grey;
  text-transform: uppercase;
}
.price {
  display:inline-block;
  right:0;
  position: absolute;
  margin-right:10% !important;
  margin-top:2%;
}
.addIcon {
  display:inline-block;
  right:0;
  position: absolute;
}
.itemName{
  display:inline-block;
  margin-left: 3%;
  margin-top:2%;
}

.green{
color:green;
}
.red{
  color:red;
  }
  .menuList{
    justify-content: center !important;
    height:40px !important;
  }

  .myCart{
    margin-top:2%;
    width:40%;
    margin-left:2%;
    display: inline-block;
  }
 .cardRoot{
padding-left: 5%;
  }