.gridListMain{
    display: flex;
    flex-wrap:nowrap !important;
    transform: translateZ(0);
    height:300px;
    width: 890px !important;
}

.gridListTile{
    margin-top: 1%;
    width:35% !important;
    height:90% !important;
}

.selectedAddress{
    margin-top: 1%;
    width:35% !important;
    box-shadow:3px -3px 6px 1px #f50057;
    height:90% !important;
}